/* theme.css */
:root {
    --color-bg: #000;
    --color-accent: #00ff90;
    --color-shadow: #0f0;
    --link-color: #66ccff;
    --white: #fff;
    --font-main: 'Share Tech Mono', monospace;
  }
  
  body {
    background-color: var(--color-bg);
    color: var(--color-accent);
    font-family: var(--font-main);
  }

    /* theme.css */
  a {
    color: var(--link-color);
    text-decoration: underline;
  }
  a:hover {
    color: var(--white);
  }

  
  .text-shadow {
    text-shadow: 0 0 10px var(--color-accent);
  }
  
  .border-accent {
    border-color: var(--color-accent);
  }
  
  .hover-fill {
    transition: 0.3s;
  }
  
  .hover-fill:hover {
    background-color: var(--color-accent);
    color: var(--color-bg);
  }
  